@import "styles/text-styles";

.wrapper {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.label {
    @include h6;
    color: var(--text-placeholder);
}

.field {
    @include p3;
    flex: 1;

    margin: 0;
    padding: 0;

    font-size: 16px;
    color: var(--text);

    background-color: transparent;
    border: none;
    outline: none;

    transition: color 0.3s linear;
}

.input {
    position: relative;

    display: flex;
    align-items: center;

    min-width: fit-content;
    padding: 8px 12px;

    border: 1px solid transparent;
    border-radius: 8px;

    transition: filter 0.3s linear, border-color 0.3s linear, background-color 0.3s linear, box-shadow 0.3s;

    &:hover {
        // border-color: var(--transparent-secondary);
        border-color: var(--transparent);
    }

    &:focus-within {
        border-color: var(--transparent);
        box-shadow: 0 0 2px var(--text);
    }

    // display: inline-flex;
}

.outline {
    background-color: transparent;
    border: 1px solid var(--transparent);
}

.transparent {
    background-color: var(--transparent-rv);
    backdrop-filter: blur(4px);

    // box-shadow: var(--shadow);
}

.soft-transparent {
    background-color: var(--transparent-soft-rv);
    backdrop-filter: blur(10px);
}

.status {
    @include p3;
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translateY(100%);

    opacity: 0;

    transition: opacity 0.3s ease;
}

.error {
    border-color: var(--system-danger);

    &:hover {
        border-color: var(--system-danger);
    }

    &:focus-within {
        border-color: var(--system-danger);
        box-shadow: 0 0 2px var(--system-danger);
    }

    .status {
        color: var(--system-danger);
        opacity: 1;
    }
}

.warning {
    border-color: var(--system-warning);

    &:hover {
        border-color: var(--system-warning);
    }

    &:focus-within {
        border-color: var(--system-warning);
        box-shadow: 0 0 2px var(--system-warning);
    }

    .status {
        color: var(--system-warning);
        opacity: 1;
    }
}

.success {
    border-color: var(--system-success);

    &:hover {
        border-color: var(--system-success);
    }

    &:focus-within {
        border-color: var(--system-success);
        box-shadow: 0 0 2px var(--system-success);
    }

    .status {
        color: var(--system-success);
        opacity: 1;
    }
}

.prefix {
    margin-right: 8px;
}

.suffix {
    margin-left: 8px;
}

.prefix,
.suffix {
    user-select: none;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 24px;
    height: 24px;

    color: var(--transparent);

    transition: color 0.3s ease;
}
