.link {
    display: inline-flex;
    gap: 10px;
    align-items: center;

    font-size: 16px;
    font-weight: 700;
    color: var(--transparent);
    text-decoration: none;
    white-space: nowrap;

    transition: color 0.3s;

    &:hover {
        color: var(--text);
    }
}

.active {
    color: var(--text);
}

// .collapsed {
//     .label {
//         display: none;
//     }
// }
