@import "styles/theme-variables";
@import "styles/text-styles";

body {
  color: var(--text);
  background-color: var(--bg);
  transition: background-color 0.3s linear, color 0.3s linear;

  // transition: color 0.3s;
}

html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

h1 {
  @include h1;
}

h2 {
  @include h2;
}

h3 {
  @include h3;
}

h4 {
  @include h4;
}

h5 {
  @include h5;
}

h6 {
  @include h6;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
}

button,
input {
  font-family: inherit;
}

.main {
  padding: 84px 0 0 335px;
}
